.navbar {
  display: flex;
  flex-direction: row;
  background-color: red;
}

.navbar__container {
  display: flex;
  flex-direction: row;
  background-color: blue;
}

.navbar__item {
  display: block;
  padding: 2rem;
}
